.user-login-body{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;

    .user-login-wrap-item{
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;

        .user-login-field{
            margin: 10px 0 0 0;
            padding: 0 40px;
            text-align: left;

            &:first-child{
                margin: 0 0 0 0;
            }

            label{
                width: 100%;
            }

            input[type=text]{
                width: 100%;
                margin: 5px 0 0 0;
                padding: 6px;
                border: 1px solid #000;
                border-radius: 5px;
            }

            input[type=password] {
                width: 100%;
                margin: 5px 0 0 0;
                padding: 6px;
                border: 1px solid #000;
                border-radius: 5px;
            }

            input[type=submit]{
                width: 100%;
                margin: 20px 0 0 0;
                padding: 6px;
                border: 1px solid #000;
                border-radius: 5px;
                background-color: rgb(225, 255, 245);

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .user-login-icon-list{
        width: 100%;
        display: flex;
        align-items: center;

        .user-login-icon-item{
            width: 40px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #000;
            border-radius: 50%;

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}

.home-top-wrap {
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        margin: 0;
    }

    p{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 90px;
        font-weight: 800;
        letter-spacing: 4px;
        color: #fff;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

.home-item-wrap{
    width: 100%;
    margin: 30px 0 0 0;
    padding: 30px;
    background-color: #e6e6e6;
    border-radius: 15px;

    .home-item-title{
        font-weight: 600;
    }

    .home-item-content{
        margin-top: 10px;
    }
}