*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

input{
    display: block;
}

label{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

table{
    border-collapse: collapse;
}

nav{
    margin: 0;
    padding: 0;
}

ol{
    margin: 0;
    padding: 0;
}